body {
	padding: 0;
	margin: 0 0;
}

ul {
	list-style-type: none;
}

#wrapper {
	width: 900px;
	height: 2000px;
	margin: 0 auto;
}

#controls {
	width: 100%;
	height: 400px;
	border: 1px solid #333;
	background-color: #CCC4B8;
	position: relative;
}

.tabs {
	height: 44px;
	background-color: #998D7A;
	color: #333;
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	margin: 0;
	padding: 0;
	margin-bottom: 20px;
	border-bottom: 1px solid #FF6116;
}

.tabs li {
	display: block;
	float: left;
	padding: 12px 22px 12px 22px;
}

#optimize {
	background-color: #FF6116;
	color: #AAFFDF;
	float: right;
}

#selected {
	background-color: #CCC4B8;
	border-bottom: 1px solid #CCC4B8;
}

#form {
	height: 184px;
	width: 100%;
}

.formTitle {
	font-family: Arial;
	width: 100px;
	margin: 0 auto;
}

.add {
	position: absolute;
	top: 0px;
	right: 50px;
	width:  50px;
	margin: 0;
	padding: 0;
	text-align: center;
	background-color: #FF6116;
	color: #AAFFDF;
}

#panelSize {
	height: 184px;
	width: 275px;
	display: block;
	float: left;
	position: relative;
}

#partSize {
	height: 184px;
	width: 275px;
	display: block;
	float: left;
	position: relative;
}

#partList {
	height: 184px;
	width: 325px;
	display: block;
	float: left;
}

input {
	height: 20px;
	width: 200px;
	margin: 5px 20px;
}

table {
	height: 90%;
	width: 100%;
	background-color: #FFF;
	overflow: auto;
}

.table tr {
	width: 100%;
	cursor: pointer;
}

#infoDisplay {
	width: 900px;
	height: 150px;
	border-top: 1px solid #FF6116;
	position: absolute;
	top: 250;
}

#infoPager {
	height: 3rem;
	width: 10rem;
	position: absolute;
	bottom: 10px;
	left: 370px;
}

#infoPager ul {
	margin: 0;
	padding: 0;
	left: -50;
	height: 100%;
	width: 100%;
}

#infoPager ul li {
	display: block;
	float: left;
}

.pagerButton {
	height: 1rem;
	width: 32%;
	font-size: 1rem;
	padding: .9rem 0 1.1rem 0;
	text-align: center;
	background-color: #FF6116;
	color: #AAFFDF;
	border: 1px solid #CCC4B8;
}

.pagerButton:hover {
	cursor: pointer;
}

#clearAll {
	background-color: #FF6116;
	color: #AAFFDF;
	font-size: 16px;
	font-family: Arial;
	font-weight: bold;
	padding: 12px 0px 12px 0px;
	width: 100px;
	position: absolute;
	right: 0px;
	text-align: center;
}

#panelDiv {
	width: 100%;
}

canvas {
	display: block;
	margin: 10px auto;
}
