body {
    padding: 0;
    margin: 0 0;
}
#partList {
    height: 419px;
    margin-top: 22px;
    margin-bottom: 14px;
}
#partTable {
    height: 322px;
    overflow-y: auto;
}
table {
    width: 100%;
}
#clearList {} #infoDisplay {
    width: 900px;
    height: 150px;
}
#panelDiv {
    width: 100%;
}
canvas {
    display: block;
    margin: 10px auto;
}